body{
 
font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
background:#c1ddf7;
 
}
 
.container{
 
width:450px;
margin:40px auto;
background:rgba(52, 159, 163, 0.459);
padding:25px;
border-radius:10px;
box-shadow:0px 0px 10px rgb(96, 192, 192);
 
}
 
h2{
 
text-align:center;
color:#0056b3;
 
}
 
label{
 
display:block;
margin-top:15px;
font-weight:bold;
 
}
 
input[type=text],
input[type=email],
input[type=password],
select,
textarea{
 
width:100%;
padding:10px;
margin-top:5px;
border:1px solid #ccc;
border-radius:5px;
box-sizing:border-box;
 
}
 
.gender,
.club{
 
margin-top:10px;
 
}
 
button{
 
width:100%;
padding:12px;
margin-top:20px;
background:#3275be;
color:white;
border:none;
border-radius:5px;
font-size:16px;
cursor:pointer;
 
}
 
button:hover{
 
background:#649fde;
 
}
 
#message{
 
margin-top:15px;
text-align:center;
font-weight:bold;
 
}
 